html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: linear-gradient(45deg,
      hsl(240deg 100% 20%) 0%,
      hsl(290deg 100% 21%) 10%,
      hsl(317deg 100% 28%) 20%,
      hsl(330deg 100% 36%) 30%,
      hsl(339deg 100% 43%) 40%,
      hsl(0deg 90% 59%) 50%,
      hsl(353deg 84% 55%) 60%,
      hsl(347deg 78% 51%) 70%,
      hsl(341deg 85% 46%) 80%,
      hsl(335deg 95% 41%) 90%,
      hsl(331deg 100% 38%) 100%);
  background-size: 1080px 1115px;
  ;
  color: #fff
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

}

@tailwind base;
@tailwind components;
@tailwind utilities;